ジャンル管理画面

          <%= form_for(@genre) do |f| %>
          <h4>ジャンル</h4>
          <%= f.text_field :genre_name,:style=> "width:80%;" %>
          <%= f.submit '追加', class: "btn btn-primary margin1",:style=> "width:80%;" %>
          </div>
          <% end %>